header h1 {
    text-align: center;
    background-color:cornflowerblue;
}
#search-container{
    display: inline-block;
}
#search-section {
    display: flex;
    flex-direction: column;
    font-size: larger;
}
#seach-history{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
#search-area{
    font-size: larger;
}
#search-btn{
    display: block;
    font-size: larger;
    background-color: cornflowerblue;
}
#city-readout{
    display: inline-block;
    margin: 0 0 0 45px;
    border: solid 1px black;
}
#five-readout{
    display: flex;
}